.features-section {
    padding-left: 0;
    padding-right: 0;
    background: #eef5f8;

    .section-title {
        margin-bottom: 70px;

        h2 {
            max-width: inherit;
        }

        p {
            max-width: 800px;
        }
    }

    .icon-list {
        margin-bottom: 56px;
    }

    .icon-box {
        width: 72px;
        height: 72px;
        line-height: 72px;
        border-radius: 0;
        background: transparent;
        box-shadow: none;

        &::before {
            display: none;
        }
    }

    .icon-list-text {
        max-width: 340px;
    }
}

@media (max-width: 575px) {
    .features-section {
        .section-title {
            margin-bottom: 30px;
        }

        .icon-list {
            margin-bottom: 30px;
        }

        .icon-box {
            width: 48px;
            height: 48px;
            line-height: 48px;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .features-section {
        .section-title {
            margin-bottom: 34px;
        }

        .icon-list {
            margin-bottom: 34px;
        }

        .icon-box {
            width: 54px;
            height: 54px;
            line-height: 54px;
        }
    }
}